body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  background-image: url('./resources/wallpaper.jpg');
  background-repeat: repeat;
  background-size: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}