
.carouselDiv{
    max-height: fit-content;
    max-width: 200px;
    background: white;
}

.carousel .slide {
    background: white;
}


#playerNameInput{
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 57px;
}

.slide {
}