.answerWrapper {
  width: fit-content;
  min-width: 500px;
  height: 340px;
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: auto;
}

.playerChoicesSection {
  border: 6px solid white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% 25% 25% 25%;

}

.questionsSelectionSection {
  padding: 0
}
.avatarChoiceRow {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
}

.avatarRowImage {
  height: 35px;
}