{
  "env": {
    "browser": true,
    "es2020": true,
    "jest/globals": true
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "script"
  },
  "plugins": ["jest"],
  "rules": {
      "consistent-return": "off",
      "no-console": "off"
  }
}
